In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("task2.csv")

In [3]:
df

,ID,Segment type,Segment Description,Answer,Count,Percentage,It became a relationship
0,292890.8970,web,"Meridian, Idaho",No,0.000000,0.000000,0
1,292887.9870,web,"Meridian, Idaho",No,0.000000,0.000000,0
2,292894.0656,gender,"Meridian, Idaho",No,499.173606,0.225255,0
3,292887.1180,web,"Meridian, Idaho",No,0.000000,0.000000,0
4,292893.6561,gender,"Meridian, Idaho",No,455.925963,0.211360,0
...,...,...,...,...,...,...,...
1891,292887.5496,web,"Meridian, Idaho",No,0.000000,0.000000,0
1892,292881.6932,mobile,"Meridian, Idaho",No,1203.190399,0.312360,0
1893,292900.8499,gender,"Meridian, Idaho",No,806.378820,0.488025,0
1894,292893.8600,gender,"Meridian, Idaho",No,1149.529381,0.488984,0
1895,292890.2944,web,"Meridian, Idaho",No,0.000000,0.000000,0

In [19]:
df["Answer"].replace({"I don't use Tinder":"No"},inplace=True)

In [33]:
df["Answer"].replace({"No":0,"Yes":1},inplace=True)

In [4]:
import numpy as np

In [5]:
df.isnull()

,ID,Segment type,Segment Description,Answer,Count,Percentage,It became a relationship
0,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...
1891,False,False,False,False,False,False,False
1892,False,False,False,False,False,False,False
1893,False,False,False,False,False,False,False
1894,False,False,False,False,False,False,False
1895,False,False,False,False,False,False,False

In [6]:
df.isnull().sum()

ID                          0
Segment type                0
Segment Description         0
Answer                      0
Count                       0
Percentage                  0
It became a relationship    0
dtype: int64

In [7]:
import matplotlib.pyplot as plt
from sklearn import linear_model

In [8]:
from sklearn.model_selection import train_test_split

In [35]:
y=df["It became a relationship"]

In [10]:
y

0       0
1       0
2       0
3       0
4       0
       ..
1891    0
1892    0
1893    0
1894    0
1895    0
Name: It became a relationship, Length: 1896, dtype: int64

In [43]:
x=df.drop(["It became a relationship","Segment Description", "Segment type", "ID"], axis=1)

In [44]:
x

      Answer        Count  Percentage
0          0     0.000000    0.000000
1          0     0.000000    0.000000
2          0   499.173606    0.225255
3          0     0.000000    0.000000
4          0   455.925963    0.211360
...      ...          ...         ...
1891       0     0.000000    0.000000
1892       0  1203.190399    0.312360
1893       0   806.378820    0.488025
1894       0  1149.529381    0.488984
1895       0     0.000000    0.000000

[1896 rows x 3 columns]

In [45]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.15, random_state=42)

In [46]:
x_train

      Answer        Count  Percentage
185        0   476.626020    0.223724
575        0     0.000000    0.000000
1821       0     1.000000    0.500000
478        0     0.000000    0.000000
1477       0     0.000000    0.000000
...      ...          ...         ...
1130       0   534.497205    0.297141
1294       0   963.338965    0.505186
860        0     0.000000    0.000000
1459       0  1061.604943    0.302600
1126       0   509.972995    0.301028

[1611 rows x 3 columns]

In [15]:
y_train

185     0
575     0
1821    0
478     0
1477    0
       ..
1130    0
1294    0
860     0
1459    1
1126    0
Name: It became a relationship, Length: 1611, dtype: int64

In [47]:
x_test

      Answer        Count  Percentage
1319       0     0.000000    0.000000
611        1     2.000000    0.133000
964        0  1066.134110    0.276810
1316       0   557.889127    0.274555
585        0     0.000000    0.000000
...      ...          ...         ...
1341       0   844.417862    0.452514
570        0     0.000000    0.000000
1169       0   532.760734    0.240402
1037       0     1.000000    0.200000
1578       0  1081.011003    0.518052

[285 rows x 3 columns]

In [17]:
y_test

1319    0
611     1
964     1
1316    0
585     0
       ..
1341    1
570     0
1169    0
1037    0
1578    0
Name: It became a relationship, Length: 285, dtype: int64

In [27]:
#let's 1st use logistic Regression

In [28]:
from sklearn.linear_model import LogisticRegression

In [30]:
model1 = LogisticRegression()

In [48]:
model1.fit(x_train, y_train)

LogisticRegression()

In [50]:
model1.predict(x_test)

array([0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1],
      dtype=int64)

In [51]:
model1.score(x_test, y_test)

0.5543859649122806

In [52]:
model1.predict_proba(x_test)

array([[0.8497547 , 0.1502453 ],
       [0.49637758, 0.50362242],
       [0.60139028, 0.39860972],
       [0.66929371, 0.33070629],
       [0.8497547 , 0.1502453 ],
       [0.66567226, 0.33432774],
       [0.76497744, 0.23502256],
       [0.8497547 , 0.1502453 ],
       [0.68203071, 0.31796929],
       [0.51571842, 0.48428158],
       [0.8497547 , 0.1502453 ],
       [0.61046128, 0.38953872],
       [0.58056912, 0.41943088],
       [0.66514793, 0.33485207],
       [0.09438056, 0.90561944],
       [0.58759212, 0.41240788],
       [0.2758326 , 0.7241674 ],
       [0.67301164, 0.32698836],
       [0.72168663, 0.27831337],
       [0.67876604, 0.32123396],
       [0.33077323, 0.66922677],
       [0.8497547 , 0.1502453 ],
       [0.8497547 , 0.1502453 ],
       [0.8497547 , 0.1502453 ],
       [0.51053822, 0.48946178],
       [0.6753526 , 0.3246474 ],
       [0.58209846, 0.41790154],
       [0.8497547 , 0.1502453 ],
       [0.8497547 , 0.1502453 ],
       [0.8497547 , 0.1502453 ],
       [0.69422546, 0.30577454],
       [0.8497547 , 0.1502453 ],
       [0.67182066, 0.32817934],
       [0.6529252 , 0.3470748 ],
       [0.61548835, 0.38451165],
       [0.68860632, 0.31139368],
       [0.60687746, 0.39312254],
       [0.63266903, 0.36733097],
       [0.83212515, 0.16787485],
       [0.66771989, 0.33228011],
       [0.58501712, 0.41498288],
       [0.42135815, 0.57864185],
       [0.7103746 , 0.2896254 ],
       [0.8497547 , 0.1502453 ],
       [0.42122005, 0.57877995],
       [0.8497547 , 0.1502453 ],
       [0.8497547 , 0.1502453 ],
       [0.54785901, 0.45214099],
       [0.8497547 , 0.1502453 ],
       [0.3138198 , 0.6861802 ],
       [0.8497547 , 0.1502453 ],
       [0.55695036, 0.44304964],
       [0.48804739, 0.51195261],
       [0.34442024, 0.65557976],
       [0.7014101 , 0.2985899 ],
       [0.50779046, 0.49220954],
       [0.71742535, 0.28257465],
       [0.68182912, 0.31817088],
       [0.8497547 , 0.1502453 ],
       [0.8497547 , 0.1502453 ],
       [0.8497547 , 0.1502453 ],
       [0.8497547 , 0.1502453 ],
       [0.8497547 , 0.1502453 ],
       [0.57865011, 0.42134989],
       [0.66242043, 0.33757957],
       [0.8497547 , 0.1502453 ],
       [0.57068091, 0.42931909],
       [0.63637132, 0.36362868],
       [0.8497547 , 0.1502453 ],
       [0.55581165, 0.44418835],
       [0.8497547 , 0.1502453 ],
       [0.8497547 , 0.1502453 ],
       [0.51063252, 0.48936748],
       [0.8497547 , 0.1502453 ],
       [0.52466304, 0.47533696],
       [0.51400692, 0.48599308],
       [0.67881083, 0.32118917],
       [0.4602693 , 0.5397307 ],
       [0.27571947, 0.72428053],
       [0.65294463, 0.34705537],
       [0.4745083 , 0.5254917 ],
       [0.71214426, 0.28785574],
       [0.61985839, 0.38014161],
       [0.48162671, 0.51837329],
       [0.57909208, 0.42090792],
       [0.51105165, 0.48894835],
       [0.70146735, 0.29853265],
       [0.64204675, 0.35795325],
       [0.29733946, 0.70266054],
       [0.65943999, 0.34056001],
       [0.66883446, 0.33116554],
       [0.8497547 , 0.1502453 ],
       [0.63949943, 0.36050057],
       [0.56092839, 0.43907161],
       [0.51010702, 0.48989298],
       [0.8497547 , 0.1502453 ],
       [0.42242787, 0.57757213],
       [0.8497547 , 0.1502453 ],
       [0.58209846, 0.41790154],
       [0.8497547 , 0.1502453 ],
       [0.70242253, 0.29757747],
       [0.8497547 , 0.1502453 ],
       [0.8497547 , 0.1502453 ],
       [0.8497547 , 0.1502453 ],
       [0.8497547 , 0.1502453 ],
       [0.55757738, 0.44242262],
       [0.5803689 , 0.4196311 ],
       [0.61239399, 0.38760601],
       [0.8497547 , 0.1502453 ],
       [0.8497547 , 0.1502453 ],
       [0.68253946, 0.31746054],
       [0.66125305, 0.33874695],
       [0.8497547 , 0.1502453 ],
       [0.73576648, 0.26423352],
       [0.43471591, 0.56528409],
       [0.58209846, 0.41790154],
       [0.8497547 , 0.1502453 ],
       [0.49050796, 0.50949204],
       [0.58209846, 0.41790154],
       [0.30564736, 0.69435264],
       [0.64938379, 0.35061621],
       [0.8497547 , 0.1502453 ],
       [0.8497547 , 0.1502453 ],
       [0.72178135, 0.27821865],
       [0.29733946, 0.70266054],
       [0.65774949, 0.34225051],
       [0.70972494, 0.29027506],
       [0.66866068, 0.33133932],
       [0.44649935, 0.55350065],
       [0.8497547 , 0.1502453 ],
       [0.8497547 , 0.1502453 ],
       [0.69390002, 0.30609998],
       [0.59095641, 0.40904359],
       [0.64065422, 0.35934578],
       [0.52045166, 0.47954834],
       [0.66374251, 0.33625749],
       [0.29733946, 0.70266054],
       [0.61655431, 0.38344569],
       [0.50923864, 0.49076136],
       [0.58209846, 0.41790154],
       [0.66826058, 0.33173942],
       [0.58397226, 0.41602774],
       [0.34569923, 0.65430077],
       [0.56632803, 0.43367197],
       [0.6048806 , 0.3951194 ],
       [0.8497547 , 0.1502453 ],
       [0.8497547 , 0.1502453 ],
       [0.55962689, 0.44037311],
       [0.51440691, 0.48559309],
       [0.50566991, 0.49433009],
       [0.65940821, 0.34059179],
       [0.55577284, 0.44422716],
       [0.38553419, 0.61446581],
       [0.5393304 , 0.4606696 ],
       [0.8497547 , 0.1502453 ],
       [0.8497547 , 0.1502453 ],
       [0.8497547 , 0.1502453 ],
       [0.52810998, 0.47189002],
       [0.4476508 , 0.5523492 ],
       [0.58947724, 0.41052276],
       [0.34750337, 0.65249663],
       [0.53337013, 0.46662987],
       [0.68414398, 0.31585602],
       [0.58209846, 0.41790154],
       [0.70791182, 0.29208818],
       [0.8497547 , 0.1502453 ],
       [0.65810596, 0.34189404],
       [0.64880638, 0.35119362],
       [0.8497547 , 0.1502453 ],
       [0.66700385, 0.33299615],
       [0.50816142, 0.49183858],
       [0.46221807, 0.53778193],
       [0.29733946, 0.70266054],
       [0.82988468, 0.17011532],
       [0.63324288, 0.36675712],
       [0.67710081, 0.32289919],
       [0.52343712, 0.47656288],
       [0.8497547 , 0.1502453 ],
       [0.60011305, 0.39988695],
       [0.62752411, 0.37247589],
       [0.09438056, 0.90561944],
       [0.8497547 , 0.1502453 ],
       [0.8497547 , 0.1502453 ],
       [0.40237048, 0.59762952],
       [0.8497547 , 0.1502453 ],
       [0.45108178, 0.54891822],
       [0.8497547 , 0.1502453 ],
       [0.4883084 , 0.5116916 ],
       [0.70528558, 0.29471442],
       [0.63955366, 0.36044634],
       [0.8497547 , 0.1502453 ],
       [0.67363046, 0.32636954],
       [0.8497547 , 0.1502453 ],
       [0.66366064, 0.33633936],
       [0.51917636, 0.48082364],
       [0.33010359, 0.66989641],
       [0.44397621, 0.55602379],
       [0.8497547 , 0.1502453 ],
       [0.8497547 , 0.1502453 ],
       [0.59010019, 0.40989981],
       [0.8497547 , 0.1502453 ],
       [0.8497547 , 0.1502453 ],
       [0.8497547 , 0.1502453 ],
       [0.75796838, 0.24203162],
       [0.54761487, 0.45238513],
       [0.8497547 , 0.1502453 ],
       [0.8497547 , 0.1502453 ],
       [0.8497547 , 0.1502453 ],
       [0.58209846, 0.41790154],
       [0.8497547 , 0.1502453 ],
       [0.84416726, 0.15583274],
       [0.8497547 , 0.1502453 ],
       [0.53666012, 0.46333988],
       [0.29722113, 0.70277887],
       [0.21433713, 0.78566287],
       [0.68056084, 0.31943916],
       [0.29733946, 0.70266054],
       [0.57260233, 0.42739767],
       [0.6590821 , 0.3409179 ],
       [0.52957355, 0.47042645],
       [0.74726609, 0.25273391],
       [0.60718382, 0.39281618],
       [0.73240662, 0.26759338],
       [0.8497547 , 0.1502453 ],
       [0.8497547 , 0.1502453 ],
       [0.8497547 , 0.1502453 ],
       [0.59047908, 0.40952092],
       [0.46327432, 0.53672568],
       [0.8497547 , 0.1502453 ],
       [0.56783088, 0.43216912],
       [0.57368055, 0.42631945],
       [0.55610031, 0.44389969],
       [0.52928601, 0.47071399],
       [0.8497547 , 0.1502453 ],
       [0.31237764, 0.68762236],
       [0.42135815, 0.57864185],
       [0.8497547 , 0.1502453 ],
       [0.67243953, 0.32756047],
       [0.58981274, 0.41018726],
       [0.8497547 , 0.1502453 ],
       [0.60480244, 0.39519756],
       [0.50065181, 0.49934819],
       [0.69250993, 0.30749007],
       [0.58209846, 0.41790154],
       [0.65555749, 0.34444251],
       [0.43557869, 0.56442131],
       [0.42389278, 0.57610722],
       [0.56901382, 0.43098618],
       [0.8497547 , 0.1502453 ],
       [0.55971611, 0.44028389],
       [0.47266124, 0.52733876],
       [0.8497547 , 0.1502453 ],
       [0.48851237, 0.51148763],
       [0.67321178, 0.32678822],
       [0.8497547 , 0.1502453 ],
       [0.58019327, 0.41980673],
       [0.8497547 , 0.1502453 ],
       [0.53864786, 0.46135214],
       [0.8497547 , 0.1502453 ],
       [0.8497547 , 0.1502453 ],
       [0.37692671, 0.62307329],
       [0.67671934, 0.32328066],
       [0.43388558, 0.56611442],
       [0.4788525 , 0.5211475 ],
       [0.36967288, 0.63032712],
       [0.8497547 , 0.1502453 ],
       [0.73808775, 0.26191225],
       [0.50720712, 0.49279288],
       [0.8497547 , 0.1502453 ],
       [0.57737576, 0.42262424],
       [0.3138198 , 0.6861802 ],
       [0.61942013, 0.38057987],
       [0.55685685, 0.44314315],
       [0.45421164, 0.54578836],
       [0.66029017, 0.33970983],
       [0.8497547 , 0.1502453 ],
       [0.73787835, 0.26212165],
       [0.42135815, 0.57864185],
       [0.68893808, 0.31106192],
       [0.50833029, 0.49166971],
       [0.52033963, 0.47966037],
       [0.8497547 , 0.1502453 ],
       [0.69163099, 0.30836901],
       [0.77095115, 0.22904885],
       [0.4446052 , 0.5553948 ]])

In [53]:
#let's now use linear regression

In [54]:
model2=linear_model.LinearRegression()

In [55]:
model2.fit(x_train, y_train)

LinearRegression()

In [56]:
model2.predict(x_test)

array([0.13110622, 0.50854578, 0.40307909, 0.34747717, 0.13110622,
       0.34679671, 0.25246016, 0.13110622, 0.33658025, 0.48467328,
       0.13110622, 0.39526025, 0.4224553 , 0.34731559, 1.00343141,
       0.41566468, 0.71796861, 0.33915883, 0.29636847, 0.33781561,
       0.66058016, 0.13110622, 0.13110622, 0.13110622, 0.48932075,
       0.34116537, 0.43239894, 0.13110622, 0.13110622, 0.13110622,
       0.32273277, 0.13110622, 0.34595904, 0.35766453, 0.39487952,
       0.32826209, 0.4051513 , 0.38164705, 0.16015829, 0.34408753,
       0.42286945, 0.57523721, 0.30663482, 0.13110622, 0.57534407,
       0.13110622, 0.13110622, 0.45371563, 0.13110622, 0.67764663,
       0.13110622, 0.44063289, 0.49756318, 0.62019344, 0.31557934,
       0.49166427, 0.29947359, 0.33677724, 0.13110622, 0.13110622,
       0.13110622, 0.13110622, 0.13110622, 0.42498746, 0.35456701,
       0.13110622, 0.43196364, 0.37821952, 0.13110622, 0.44424059,
       0.13110622, 0.13110622, 0.49598542, 0.13110622, 0.49057518,
       0.48565603, 0.33777249, 0.5204986 , 0.71807548, 0.36422676,
       0.52785038, 0.30470432, 0.39080231, 0.50876084, 0.42387936,
       0.48878913, 0.31596899, 0.36980259, 0.7021387 , 0.35293856,
       0.34795318, 0.13110622, 0.36975185, 0.43731182, 0.48932234,
       0.13110622, 0.5521022 , 0.13110622, 0.43239894, 0.13110622,
       0.31456344, 0.13110622, 0.13110622, 0.13110622, 0.13110622,
       0.44494842, 0.44079243, 0.40017452, 0.13110622, 0.13110622,
       0.33529213, 0.35476774, 0.13110622, 0.28112094, 0.54974538,
       0.43239894, 0.13110622, 0.51346748, 0.43239894, 0.69344876,
       0.37693288, 0.13110622, 0.13110622, 0.30251317, 0.7021387 ,
       0.35934466, 0.3071759 , 0.3580179 , 0.54087299, 0.13110622,
       0.13110622, 0.32305454, 0.41199912, 0.36872021, 0.47959359,
       0.35388035, 0.7021387 , 0.38997154, 0.49011734, 0.43239894,
       0.34854752, 0.41916889, 0.61902866, 0.43972862, 0.40007799,
       0.13110622, 0.13110622, 0.44252932, 0.48531065, 0.48305344,
       0.35296974, 0.4466476 , 0.58365491, 0.46207199, 0.13110622,
       0.13110622, 0.13110622, 0.48694026, 0.53097614, 0.41383619,
       0.61738909, 0.46742008, 0.33261421, 0.43239894, 0.30923223,
       0.13110622, 0.35294264, 0.36139499, 0.13110622, 0.35069396,
       0.49115094, 0.51888458, 0.7021387 , 0.16366475, 0.37531658,
       0.33941683, 0.47678318, 0.13110622, 0.40909189, 0.38036811,
       1.00343141, 0.13110622, 0.13110622, 0.59207517, 0.13110622,
       0.52812232, 0.13110622, 0.50296318, 0.31337685, 0.36970344,
       0.13110622, 0.3429655 , 0.13110622, 0.35329306, 0.48079368,
       0.66119665, 0.54159751, 0.13110622, 0.13110622, 0.41323139,
       0.13110622, 0.13110622, 0.13110622, 0.26089939, 0.45394712,
       0.13110622, 0.13110622, 0.13110622, 0.43239894, 0.13110622,
       0.14060134, 0.13110622, 0.48025469, 0.70224556, 0.79137317,
       0.33801504, 0.7021387 , 0.43074064, 0.35204914, 0.47100136,
       0.27394449, 0.41678276, 0.28454139, 0.13110622, 0.13110622,
       0.13110622, 0.41366791, 0.53758981, 0.13110622, 0.43469378,
       0.42661929, 0.4488799 , 0.47145286, 0.13110622, 0.67916951,
       0.57523721, 0.13110622, 0.33969365, 0.41297244, 0.13110622,
       0.40477791, 0.51212734, 0.32519574, 0.43239894, 0.3615759 ,
       0.5496977 , 0.57237679, 0.43356113, 0.13110622, 0.44684364,
       0.51988503, 0.13110622, 0.49718018, 0.33928974, 0.13110622,
       0.42351595, 0.13110622, 0.46440187, 0.13110622, 0.13110622,
       0.61595007, 0.3356811 , 0.56377374, 0.53124492, 0.63020581,
       0.13110622, 0.2843983 , 0.49200618, 0.13110622, 0.42620155,
       0.67764663, 0.39121201, 0.46227075, 0.5346665 , 0.35210398,
       0.13110622, 0.27895671, 0.57523721, 0.3371343 , 0.49099224,
       0.47969902, 0.13110622, 0.32529269, 0.24539821, 0.54240037])

In [57]:
model2.predict(x_test).round()

array([0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 1.,
       0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 1., 0., 0., 0., 0., 1., 0.,
       0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 1., 0., 1., 0., 0., 1., 0.,
       0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 1., 0.,
       1., 0., 0., 0., 0., 1., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0.,
       1., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1.,
       0., 0., 0., 0., 0., 1., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 1., 1., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 1., 0., 1., 0.,
       1., 0., 0., 0., 0., 0., 0., 0., 1., 1., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 1., 0., 1., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 1., 1., 0., 0.,
       0., 0., 0., 1., 0., 0., 0., 1., 1., 0., 0., 0., 1., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 1., 0., 1., 1., 1., 0., 0., 0., 0., 0., 1., 0.,
       0., 1., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 1.])

In [58]:
model2.score(x_test, y_test)

0.11284305501232161

In [63]:
x=df.drop(["It became a relationship","Segment Description", "Segment type", "ID"], axis=1)

In [64]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.15, random_state=42)

In [66]:
from sklearn import svm, datasets
model = svm.SVC(kernel='rbf', C=30, gamma='auto')
model.fit(x_train, y_train)
model.score(x_test, y_test)

0.8280701754385965

In [72]:
from sklearn import svm, datasets
model = svm.SVC(kernel='rbf', C=20, gamma='auto')
model.fit(x_train, y_train)
model.score(x_test, y_test)

0.8245614035087719

In [73]:
from sklearn import svm, datasets
model = svm.SVC(kernel='rbf', C=10, gamma='auto')
model.fit(x_train, y_train)
model.score(x_test, y_test)

0.8070175438596491

In [74]:
from sklearn import svm, datasets
model = svm.SVC(kernel='rbf', C=1, gamma='auto')
model.fit(x_train, y_train)
model.score(x_test, y_test)

0.8035087719298246

In [75]:
from sklearn import svm, datasets
model = svm.SVC(kernel='rbf', C=50, gamma='auto')
model.fit(x_train, y_train)
model.score(x_test, y_test)

0.8385964912280702

In [76]:
from sklearn import svm, datasets
model = svm.SVC(kernel='rbf', C=100, gamma='auto')
model.fit(x_train, y_train)
model.score(x_test, y_test)

0.8526315789473684

In [77]:
from sklearn import svm, datasets
model = svm.SVC(kernel='rbf', C=500, gamma='auto')
model.fit(x_train, y_train)
model.score(x_test, y_test)

0.8526315789473684

In [78]:
from sklearn import svm, datasets
model = svm.SVC(kernel='rbf', C=1000, gamma='auto')
model.fit(x_train, y_train)
model.score(x_test, y_test)

0.8456140350877193